<ion-header *ngIf="currentCourse$ | async as currentCourse">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button defaultHref="/courses/{{currentCourse.id}}"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<span>{{currentCourse.title}}</span> /
			<span *ngIf="currentLesson$ | async as currentLesson">{{currentLesson.title}}</span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
	<bba-lesson-card
			[course]="currentCourse$ | async"
			[lesson]="currentLesson$ | async">
	</bba-lesson-card>
</ion-content>
