.lesson-card.md {
  max-width: 750px;
}

/* Due to the fact the cards are inside of columns the margins don't overlap
 * properly so we want to remove the extra margin between cards
 */
ion-col:not(:last-of-type) .lesson-card {
  margin-bottom: 0;
}

.lesson-card > .video-player {
  width: 750px;
  height: auto;
  background-color: black;
}

.lesson-card {
  ion-card-header {
    padding: 0;
  }

  ion-card-content {
    flex: 1 1 auto;
    padding: 0;
  }

  .lesson-item {
    --min-height: 85px;

    h2 {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.02em;
    }

    p {
      font-size: 13px;
      letter-spacing: 0.02em;
    }
  }
}
