<ion-list id="menu-list" lines="none">
  <ion-menu-toggle auto-hide="false" *ngFor="let page of pages; let i = index">
    <ion-item
      (click)="setSelectedPage(i)"
      [routerLink]="[page.url]"
      [class.selected]="selectedIndex == i"
      routerDirection="root"
      lines="none"
      detail="false">
      <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
      <ion-label>{{ page.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-item>
    <ion-icon slot="start" name="moon-outline"></ion-icon>
    <ion-label>
      Dark Mode
    </ion-label>
    <ion-toggle [(ngModel)]="dark" (ngModelChange)="darkChange.emit(dark)"></ion-toggle>
  </ion-item>
</ion-list>
