<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6">
        <pre>{{ user$ | async | json}}</pre>
      </ion-col>

      <ion-col size="12" size-md="6">
        <pre>{{ user$ | async | json}}</pre>
      </ion-col>
    </ion-row>
  </ion-grid>

  <bba-social-share (shared)="shareToSocial($event)"></bba-social-share>
</ion-content>
